<div id="sidebar" window-height>

  <md-list>
    <md-content layout-gt-sm="column" layout-padding>
      <md-button class="md-raised md-accent add-marker" ng-click="main.addMarker()">
        <md-icon class="material-icons">place</md-icon>
        Agregar Marcador
      </md-button>
    </md-content>

    <md-content layout-gt-sm="column" layout-padding ng-hide="addMarker()">
      <div class="animated fadeInDown">
        <md-input-container>
          <label>Dirección</label>
          <input ng-model="user.title" type="text" id="searchbox" placeholder="">
        </md-input-container>
        <md-input-container>
          <label>Nombre</label>
          <input ng-model="user.email" type="text" placeholder="">
        </md-input-container>
        <md-content layout-gt-sm="column">
          <md-button class="md-raised md-primary add-marker" ng-click="main.addMarker()">
            Guardar
          </md-button>
        </md-content>
      </div>
    </md-content>

    <md-divider></md-divider>
    <md-subheader class="md-no-sticky">Mis marcadores</md-subheader>
    <md-divider></md-divider>

    <md-list-item ng-repeat="marker in main.markers" class="marker-list">
      <p> {{ marker.window.title }} </p>
      <md-button class="md-icon-button" aria-label="More" ng-click="main.removeMarker(marker)">
        <md-icon class="material-icons">delete</md-icon>
      </md-button>
    </md-list-item>

    <md-divider></md-divider>
  </md-list>

</div>